<% unless @product_properties.empty? %>
  <div id="product-properties" class="features" data-hook>
    <h3 class="product-section-title">Features:</h3>
    <% @product_properties.each do |product_property| %>
      <% css_class = cycle('even', 'odd', :name => "properties") %>
      <ul class="<%= css_class %>">
        <!-- <td><strong><%= product_property.property.presentation %></strong></td> -->
        <li><%= product_property.value %></li>
      </ul>
    <% end %>
    <% reset_cycle('properties') %>
  </div>
<% end %>
