<div class='footer' >
	<div class='container' id="footer">
        <div class='row'>
			<div class='col-sm-6 col-xs-6 '>
	            <h4>Shop Navigation</h4>
	            <ul class='list-unstyled'>
	              <li><a href='/'>Home</a></li>
	              <li><a href='#'>Shop</a></li>
	              <li><a href='#'>My Account</a></li>
	              <li><a href='#'>My Wishlist</a></li>
	            </ul>
			</div>

			

			<!-- <div class='col-sm-3 col-xs-6'>
				<h4>Ordered Assistance</h4>
				<ul class='list-unstyled'>
					<li><a href='/'>Online Bill Pay</a></li>
					<li><a href='#'>Presription Items</a></li>
					<li><a href='#'>Special Orders</a></li>
					<li><a href='#'>Warranty</a></li>
				</ul>
			</div> -->

			<div class='col-sm-6 col-xs-6'>
	            <h4>Continued Care</h4>
	            <ul id="footer-list" class='list-unstyled footer-highlight'>
					<li><i class='glyphicon glyphicon-globe'></i>130 Sea Lane Farmingdale, NY 11735</li>
					<li><i class='glyphicon glyphicon-phone'></i>Phone: (631) 694-8787</li>
					<li><i></i> <a href='#'>www.continuedcare.com</a></li>
					<a href="https://www.facebook.com/ContinuedCareofLongIsland"><img src="imgs/facebook_icon.gif"></a>
	            </ul>
			</div>
		</div>
	    
		<hr></hr>

	    <div class="row">
		    <div class="col-sm-4 col-sm-offset-4">
			    <p>&copy;Copyright 2015 Continued Care of LI</p>
		    </div>
	    </div>
	</div>
</div>