<div id="spree-header" class="navbar navbar-default navbar-fixed-top">
  <header id="header" data-hook>
    <div class="row">
      <%= render :partial => 'spree/shared/nav_bar' %>
    </div>
  </header>
  <div class="container">
    <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
  </div>
</div
