<div class="row">

	<ul id="header-nav" class='header nav navbar-nav collapse navbar-collapse' data-hook>
		<li data-hook id="home-link"><%= link_to Spree.t(:home), spree.root_path %></li>

		<!-- Shop Dropdown Submenu -->

		<li class="dropdown-submenu">
			<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" href="/products">
				Shop
				<span class="caret"></span>
			</a>

 			<ul class="dropdown-menu" role="menu" aria-labellledby="taxonomies" data-hook>
				<li role="presentation"><a href="/products"><img style="filter: invert(20%);" src="/spree/images/baby_toddler.png">Baby & Toddler</a></li>
				<li role="presentation"><a href="/products"><img style="filter: invert(100%);" src="/spree/images/cpap_plus.png">CPAP Accessories</a></li>
				<li role="presentation"><a href="/products"><img src="/spree/images/cpap_mask.png">CPAP Masks</a></li>
				<li role="presentation"><a href="/products"><img style="filter: invert(100%);" src="/spree/images/cpap_plus.png">CPAP Machines</a></li>
				<li role="presentation"><a href="/products"><img style="filter: invert(100%);" src="/spree/images/cpap_plus.png">Hospital Beds</a></li>
				<li role="presentation"><a href="/products"><img style="filter: invert(90%);" src="/spree/images/incontinence.png">Incontinence</a></li>
				<li role="presentation"><a href="/products"><img style="filter: invert(0%);" src="/spree/images/mobility_assistive.png">Mobility Assistive Equipment</a></li>
				<li role="presentation"><a href="/products"><img style="filter: invert(10%);" src="/spree/images/nebulizer.png">Nebulizers</a></li>
				<li role="presentation"><a href="/products"><img style="filter: invert(0%);" src="/spree/images/oxygen.png">Oxygen</a></li>
				<li role="presentation"><a href="/products"><img style="filter: invert(100%);" src="/spree/images/cpap_plus.png">Power Solutions</a></li>
				<li role="presentation"><a href="/products"><img src="/spree/images/provent.png">Provent Therapy</a></li>
			</ul>

		</li>
		<!-- Help Dropdown Submenu -->
		<li class="dropdown-submenu" role="presentation">
			<a class="dropdown-togle" id="sale-nav" role="menuitem" tabindex="-1" href="">Sale <span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu" aria-labellledby="sale-nav">
				<li><a href="">Holiday Sale</a></li>
				<li><a href="">50% Off</a></li>
			</ul>
		</li>

		<li role="presentation" class="dropdown-submenu">
			<a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">Assistance<span class='caret'></span>
			</a>
			<ul class="dropdown-menu" role="menu" aria-labellledby="dropdownMenu1">
				<li role="presentation"><a role="menuitem" tabindex="-1" href="">Care Management</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="">Equipment Service</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="">CPAP Therapy</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="">Family Caregivers</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="">Healthcare Providers</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="">Insurance Providers</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="">Nutrition</a></li>

			</ul>
		</li>
		<li role="presentation"><a href="t/brand/ruby" role="menuitem" tabindex="-1">My Resupply</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1">About</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1">Contact</a></li>

	</ul>
</div>
