<h1>Home Page</h1>
<div id="banner" class="carousel slide">
    
  <ol class="carousel-indicators">
    <li data-target="#banner" data-slide-to="0" class="active"></li>
    <li data-target="#banner" data-slide-to="1"></li>
    
  </ol>

  <div class="carousel-inner">
      
      <div class="item active">
        <img src="imgs/ResMedSale.png" class="img-responsive" >
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item">
        <img src="imgs/ResMedSale.png" class="img-responsive" >
        <div class="carousel-caption">
        </div>
      </div>

      <a href="#/" id="carousel-left" class="carousel-control left" data-slide="prev">
        <img src="imgs/left.png">
        <span class="icon-prev"></span>
      </a>

      <a href="#/" id="carousel-right" class="carousel-control right" data-slide="next">
        <img src="imgs/right.png">
        <span class="icon-next"> </span>
      </a>
    </div>
    
  </div>

<main id="content">
  <div class="container">
    <div class='row first-row'>
      <div class="col-sm-6">
        <h3 class="wow fadeInRight animated left-title"><i class="glyphicon glyphicon-triangle-right glyph-left"></i>Top Rated</h3>
        <img class="cpap-row" src="imgs/cpap-item-2.jpg">
      </div>


      <div class="col-sm-6">
        <h3 class="wow fadeInLeft animated right-title">Top Sellers<i class="glyphicon glyphicon-triangle-left glyph-right"></i></h3>
        <img class="cpap-row" src="imgs/cpap-item-2.jpg">
      </div>
    </div>
  </div>

  <div class='row second-row'>

    <div class="first col-sm-4 col-xs-12">
      <h2 class="wow fadeInDown animated second-row-title" data-center-top="margin-left:-1;" 
      data-top-top="margin-left:1;">CPAP Machines</h2>
      <button class="wow fadeInLeft animated view-all" >View All</button>
    </div>

    <div class="second col-sm-4 col-xs-12">
      <h2 class="wow fadeInDown animated second-row-title">CPAP Masks</h2>
      <button class="wow fadeInLeft animated view-all">View All</button>
    </div>

    <div class="third col-sm-4 col-xs-12">
      <h2 class="wow fadeInDown animated second-row-title">Nebulizers</h2>
      <button class="wow fadeInLeft animated view-all">View All</button>
    </div>
  </div>

  <div class="sponsors">

    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <img class="sponsor" src="imgs/ResMed-rg.png">
        </div>
        <div class="col-sm-3">
          <img class="sponsor" src="imgs/invacare-rg.png">
        </div>
        <div class="col-sm-3">
          <img class="sponsor" src="imgs/fisher-paykel-rg.png">
        </div>
        <div class="col-sm-3">
          <img class="sponsor" src="imgs/pari-logo-rg.jpg">
        </div>
      </div>

      <div class="second-sponsrow">
        <div class="col-sm-4">
          <img class="sponsor" src="imgs/Philips-rg.png">
        </div>
        <div class="col-sm-4">
          <img class="sponsor" src="imgs/drive-medical-logo.jpg">
        </div>
        <div class="col-sm-4">
          <img class="sponsor" src="imgs/sequal-logo.png">
        </div>
      </div>
    </div>
  </div>
  
</main>
